{{!-- https://www.youtube.com/watch?v=23QAc7PjpiI --}}
{{!-- https://docs.mapbox.com/api/search/geocoding/#forward-geocoding this can be used to grab city or state I think
--}}

  <div class="container">
    <div class="row">

      <div class="container">
        <div class="col-sm-12 my-10">
          <ul class="list-group list-group-horizontal" id="filters"></ul>
        </div>

        {{!-- https://www.solodev.com/blog/web-design/adding-a-filter-to-your-search-input-using-bootstrap.stml --}}
        <div class="row searchFilter">
          <div class="col-sm-12">
            <div class="input-group">
              <input type="text" id="cuisine" class="form-control" style="min-width: 200px;"
                aria-label="Text input with segmented button dropdown">

              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="location-dropdown"
                  data-bs-toggle="dropdown" data-city="{{{preferences.city}}}" data-state="{{{preferences.state}}}"
                  aria-expanded="false">
                  {{{preferences.locationDisplay}}}
                </button>
                <div class="dropdown-menu">

                  <form class="px-4 py-3">
                    <div class="mb-3">
                      <label for="dropdown-city" class="form-label">City</label>
                      <input type="text" class="form-control" id="dropdown-city" placeholder="Los Angeles">
                    </div>
                    <div class="mb-3">
                      <label for="dropdown-state" class="form-label">State</label>
                      <input type="text" class="form-control" id="dropdown-state" placeholder="CA">
                    </div>
                    <div class="mb-3">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        {{!-- <label class="form-check-label" for="dropdownCheck">
                          Update Profile
                        </label> --}}
                      </div>
                    </div>
                    {{!-- button fires search for restaurant and opens the modal used to display restaurant --}}
                    <button type="button" class="btn btn-primary" id="location-submit" data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop">Submit</button>
                  </form>

                </div>
              </div>
              <button id="searchBtn" type="button" class="btn btn-primary btn-search"><span
                  class="glyphicon glyphicon-search">&nbsp;</span> <span class="label-icon">Find
                  Restaurant</span></button>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          {{!-- show autocomplete options --}}
          <div class="list-group" id="show-list"></div>
        </div>
      </div>

    </div>

    <!-- Modal -->
  </div>

<div class="modal fade" id="restaurant-modal" tabindex="-1" aria-labelledby="resturaunt-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="restaurant-name"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <section class="d-flex flex-row flex-wrap justify-content-center align-items-center">
          <div class="col-md-6 col-lg-6 mh-50">
            <div class="container-md" id="restaurant-img" alt="image of restaurant"></div>
            {{!-- <img style="object-fit:none; object-position:center; width:100%; max-height:500px; margin-bottom:1rem;" id="restaurant-img" alt="Restaurant image cap"> --}}
          </div>
        
          
          <div >

            <ul class="list-group list-group-flush">
              <li class="list-group-item" id="type"></li>
              <li class="list-group-item" id="price"></li>
              <li class="list-group-item" id="rating"></li>
              <li class="list-group-item" id="address"></li>
              <li class="list-group-item" id="phone"></li>
              
            </ul>
          </div>

        </section>

      </div>
      <div class="modal-footer">
        <a id="website" target="_blank"><button type="link" class="btn btn-primary">Visit Website</button></a>
        
      </div>
    </div>
  </div>
</div>
{{!-- {{/if}} --}}
 <script type="module" src="/js/searchRestaurants.js"></script>


