{{!-- https://www.youtube.com/watch?v=23QAc7PjpiI --}}

<body class="bg-info">
  <div class="container">
    <div class="row">

      <div class="col-md-5" style="position:relative; margin-top: -38px; margin-left:215px;">        
        {{!-- show category label options --}}
        <ul class="list-group list-group-horizontal" id="filters"></ul>
      </div>

      <div class="col-md-8 offset-md-2 bg-light p-4 mt-3">
        <h4 class="text-center">What are you in the mood for?</h4>
        <form action="details.php" method="post" class="form-inline p-3">
          <input type="text" name="search" id="search" class="form-control form-control-lg rounded-0"
            placeholder="cuisine" style="width:80%;">
        </form>
        <button type="button" class="btn btn-primary" id="searchBtn">Get Restaurant</button>

      </div>
      <div class="col-md-5" style="position:relative; margin-top: -38px; margin-left:215px;">
        {{!-- show autocomplete options --}}
        <div class="list-group" id="show-list"></div>
      </div>
      <div class="col-md-5" style="position:relative; margin-top: -38px; margin-left:215px;">
        {{!-- show autocomplete options --}}
        <div class="list-group" id="show-list"></div>
      </div>


    </div>
  </div>

  <script type="module" src="/js/searchRestaurants.js"></script>