<h2>Questionnaire</h2>

<h2>Before we start recommending restaurants, tell us a little bit about your preferences!</h2>

<form class="form questions-form">
  <div class="form-group">
    <label for="email-login">Location</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Dietary Restrictions</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>

{{!-- 
<script src="/js/login.js"></script> --}}