<h2>Questionnaire</h2>

<form class="form questions-form">
  <div class="form-group">
    <label for="email-login">Question 1</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Question 2</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>

<button class="btn btn-primary" id="create-account">Create new account</button>
{{!-- 
<script src="/js/login.js"></script> --}}