{{!-- questionnaire form --}}

{{!-- if this is an existing user, add an option to go back to homepage, otherwise provide instructions --}}
<div class="container">
  <div class="row">
    {{#if exist}}
    <button class="btn btn-info" id="home-btn" type="click">Back to Home</button>
    {{/if}}
    <h2>Your Preferences</h2>

    {{#unless exist}}
    <h3>Before we start recommending restaurants, tell us a little bit about your preferences!</h3>
    {{/unless}}
  </div>

  <div class="row col-12 col-lg-6" "col-md-8">
    <form class="form questions-form">

      <div class="form-group">
        <label for="city">City</label>
        <input class="form-input" type="text" id="city-name" placeholder="San Francisco" />
      </div>
      <div class="form-group">
        <label for="state">State Code</label>
        <input class="form-input" type="text" id="state-name" placeholder="CA" />
      </div>
      <div class="form-group">
        <label for="cuisines">Favorite Cuisine</label>
        <input class="form-input" type="text" id="cuisines" />
      </div>

      <div class="form-check">
        <label class="form-check-label" for="flexCheckChecked">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>Vegetarian
        </label>
      </div>


      <div class="form-group">
        <label for="price">Price</label>
        <div class="form-group">

          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Min">
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Max">
        </div>

      </div>
      <div class="form-group">

        {{!-- change from questionnaire.js functions calls if updating or creating preferences --}}
        {{#if exist}}
        <button class="btn btn-primary" id="update-preferences" type="click">Submit</button>
        {{else}}
        <button class="btn btn-primary" id="create-preferences" type="click">Submit</button>
        {{/if}}

      </div>
    </form>

  </div>

</div>


<script src="/js/questionnaire.js"></script>